body {
    color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.background-image {
    background-image: url('../assets/images/lake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    height: 100vh;
    width: 100vw;
    position: absolute;
}

h1 {
    font-size: 1.5rem;
}

.container {
    position: absolute;
    top: 20%;
    left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options__container {
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;
    max-width: 90%;
    justify-content: center;
}

.option {
    padding: 20px 60px;
    min-width: 150px;
    border-radius: 5px;
    background-color: #000;
    opacity: .7;
    margin-top: 20px;
    font-size: 1.1rem;
    transition: opacity 1s;
    cursor: pointer;
    text-align: center;
}

.option:hover {
    opacity: .5;
}

.option:last-child {
    border: 1px solid orange;
}

.next {
    padding: 20px 100px;
    font-size: 1.3rem;
    background-color: #113438;
    color: #4D676A;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 5px;
}

.time-line {
    width: 400px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.time-line span{
    border: 3px solid #4D676A;
    width: 50px;
    margin-top: 30px;
}

.time-line span.step {
    border: 3px solid orange;
}

.close {
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 1.2rem;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    font-weight: lighter;
}

@media only screen and (max-width: 650px) {
    .background-image {
        background-image: url('../assets/images/lake-mobile.jpg');
        height: 163vh;
        width: 118vw;
    }

    .time-line span{
        width: 30px;
    }

    .time-line {
        margin-top: 30px;
    }

    .container {
        top: 5%;
    }

    .close {
        right: -50px;
        top: 20px;
        font-size: 1.2rem;
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 10px;
        font-weight: lighter;
    }
}
